
<h2>Update the drone</h2>
{{!-- {{done}} --}}
<form action="/drones/{{drone.id}}/edit" method="post"> 
    <input type="text" name="name" value="{{drone.name}}" />
    <input type="number" name="propellers"  value="{{drone.propellers}}" />
    <input type="number" name="maxSpeed"  value="{{drone.maxSpeed}}"/>

    <input type="submit" value="Submit">
</form>